sup {
	vertical-align: super;
	font-size: 75%;
}
.section {
	border-top: 1px solid #ddd;
	padding-top: 1em;
}
.section:last-child {
	margin-bottom: 1em;
	border-bottom: 1px solid #ddd;
}
.section-header {
	font-style: italic;
}
.section-body {
	float: right;
	margin-bottom: 1em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
}
.section-body:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
.item-body {
	float: left;
	margin-top: 0.5em;
	margin-left: 1em;
	text-align: justify;
}
.item-body ul {
	list-style-type: disc;
	margin-left: 1.5em;
	margin-bottom: 0;
}
.item-body li {
	margin-bottom: 0;
}
.date {
	text-align: right;
}
.title {
	font-style: italic;
}
@media only screen {
	.print-show {
		display: none;
	}
}
@media only print {
	body {
		font-size: 105%;
		background: white;
	}
	.print-hide {
		display: none;
	}
	a {
		text-decoration: none;
	}
	a.printable:link:after, a.printable:visited:after {
		content: " <" attr(href) "> ";
		font-size: 90%;
	}
}
